<div class="dashboard-container">
  <h1>Donation Dashboard</h1>

  <div class="dashboard-action-container">
    <button class="primary-button" (click)="donationModal.open()">
      + Add Donation
    </button>
  </div>

  <app-add-donation-modal
    #donationModal
    [isSubmitting]="store.isSubmittingDonation()"
    [errorMessage]="store.createDonationError()"
    (submitDonation)="onAddDonation($event)"
    (modalClosed)="store.resetCreateDonationError()"
  >
  </app-add-donation-modal>

  <app-campaign-card
    [loading]="store.isCampaignLoading()"
    [campaign]="store.campaign()"
    [progressPercentage]="store.progressPercentage()"
    [averageDonation]="store.averageDonation()"
    [error]="store.campaignError()"
    (retry)="store.retryFetchCampaign()"
  >
  </app-campaign-card>

  <app-generic-table
    title="Donations"
    [loading]="store.isDonationsLoading()"
    [data]="store.donations()"
    [columns]="donationColumns"
    [page]="store.page()"
    [totalPages]="store.totalPages()"
    [total]="store.total()"
    [sort]="store.sort()"
    [order]="store.order()"
    [limit]="store.limit()"
    (pageChange)="store.setPage($event)"
    (sortChange)="store.setSorting($event)"
    [error]="store.donationsError()"
    (retry)="store.retryFetchDonations()"
  >
  </app-generic-table>

  <div class="demo-controls">
    <h3>Developer area for testing errors</h3>
    <div class="demo-controls-checkboxes">
      <label class="demo-controls-label">
        <input
          type="checkbox"
          [checked]="!!store.campaignError()"
          (change)="store.toggleCampaignError($any($event.target).checked)"
        />
        <span>Simulate Campaign API Error</span>
      </label>

      <label class="demo-controls-label">
        <input
          type="checkbox"
          [checked]="!!store.donationsError()"
          (change)="store.toggleDonationsError($any($event.target).checked)"
        />
        <span>Simulate Donation API Error</span>
      </label>

      <label class="demo-controls-label">
        <input
          type="checkbox"
          (change)="store.setCreateDonationError($any($event.target).checked)"
        />
        <span>Simulate Create Donation API Error</span>
      </label>
    </div>
  </div>
</div>
