.dashboard-container {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 14px;
}

.dashboard-container h1 {
  text-align: center;
}

.dashboard-action-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.campaign-section,
.donations-section {
  margin-bottom: 1.5rem;
}

.donations-list {
  padding-left: 1.25rem;
}

.demo-controls-label {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .dashboard-action-container {
    justify-content: center;
  }
}
