<div class="dashboard-container">
  <h1>Donation Dashboard</h1>

  <app-campaign-card
    [loading]="store.isCampaignLoading()"
    [campaign]="store.campaign()"
  ></app-campaign-card>

  <section class="donations-section">
    <app-generic-table
      title="Donations"
      [loading]="store.isDonationsLoading()"
      [data]="store.donations()"
      [columns]="donationColumns"
      [page]="store.page()"
      [totalPages]="store.totalPages()"
      [total]="store.total()"
      [sort]="store.sort()"
      [order]="store.order()"
      [limit]="store.limit()"
      (pageChange)="store.setPage($event)"
      (sortChange)="store.setSorting($event)"
    >
    </app-generic-table>
  </section>
</div>
