<div class="dashboard-container">
  <h1>Donation Dashboard</h1>

  @if (store.campaign(); as camp) {
    <section class="campaign-section">
      <h2>Campaign: {{ camp.name }}</h2>
      <p>
        Goal: {{ camp.goal }} EUR | Total Raised: {{ camp.totalRaised }} EUR
      </p>
    </section>
  }

  <hr />

  <section class="donations-section">
    <app-generic-table
      title="Donations"
      [loading]="store.loading()"
      [data]="store.donations()"
      [columns]="donationColumns"
      [page]="store.page()"
      [totalPages]="store.totalPages()"
      [total]="store.total()"
      [sort]="store.sort()"
      [order]="store.order()"
      [limit]="store.limit()"
      (pageChange)="store.setPage($event)"
      (sortChange)="store.setSorting($event)"
    >
    </app-generic-table>
  </section>
</div>
