.dashboard-container {
  padding: 2rem;
  font-family: sans-serif;
  font-size: 14px;
}
.dashboard-action-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.5rem;
}

.campaign-section,
.donations-section {
  margin-bottom: 1.5rem;
}

.donations-list {
  padding-left: 1.25rem;
}
